@model Student

<h2>Détails de l'Étudiant @Model.Id</h2>

<dl class="row">

    <dt class="col-sm-2">Nom</dt>
    <dd class="col-sm-10">@Model.Firstname @Model.Lastname</dd>

    <dt class="col-sm-2">Âge</dt>
    <dd class="col-sm-10">@Model.Age ans</dd>

    <dt class="col-sm-2">Spécialité</dt>
    <dd class="col-sm-10">@Model.Major</dd>

</dl>

<dl>
    <dt class="col-sm-2">Date d'admission</dt>
    <dd class="col-sm-10">@Model.AdmissionDate.ToShortDateString()</dd>
</dl>
<a asp-action="Index">Retour à la Liste</a>
